@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.bg-dot {
  background-size: 10px 10px;
  background-image: radial-gradient(hsla(0 0% 20%/.2) 0.8px, hsla(0 0% 90%/1) 0.8px);
}

.recent-tool-btn{
  @apply bg-blue-500/10;
  @apply !text-blue-500;
  @apply border-blue-500;
}
.recent-tool-btn:hover {
  @apply bg-blue-500/10;
  @apply !text-blue-700;
  @apply border-blue-500;
}
.menu .active {
  @apply bg-blue-500;
  @apply text-white
}
@media screen and (min-width: 1024px) {
  .menu .active {
    @apply bg-transparent;
    @apply text-black;
    @apply border-b-2;
    @apply border-blue-500;
  }
}

.watermarked {
  overflow: hidden;
}

.watermarked::before {
  position: absolute;
  top: -75%;
  left: -75%;

  display: block;
  width: 150%;
  height: 150%;

  transform: rotate(-45deg);
  content: attr(data-watermark);

  opacity: 0.2;
  line-height: 3em;
  letter-spacing: 2px;
  color: #000;
  font-size: 14px;
}

.st-toast-container .Toastify__toast {
  min-height: unset;
  padding: 5px 8px;
  border-radius: 5px;
}
/* .st-toast-container .Toastify__toast .st-toast-body {
  font-size: 13.5px;
} */
.st-toast-container .Toastify__toast .Toastify__close-button {
  display: none;
}

.dot-bg {
  background-size: 10px 10px;
  background-image: radial-gradient(hsla(var(--bc)/.2) 0.5px, hsla(var(--b2)/1) 2px);
  min-height: 100vh;
}